<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <form [formGroup]="form" (ngSubmit)="submit()" class="mt-4">
        <div class="form-group mb-3">
          <label for="title">Título</label>
          <input #title type="text" class="form-control" formControlName="title" id="title" placeholder="Título">
        </div>
        <div class="form-group mb-3">
          <label for="description">Descripción</label>
          <input type="text" class="form-control" formControlName="description" id="description"
            placeholder="Descripción">
        </div>
        <input type="hidden" formControlName="id">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="form.status != 'VALID'" routerLink="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy2-fill"
            viewBox="0 0 16 16">
            <path d="M12 2h-2v3h2V2Z"></path>
            <path
              d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0H1.5ZM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1H4ZM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1Z">
            </path>
          </svg>
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
